
<section>
    <h1>Sign Up</h1>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/user/signup" method="post">
        <input type="text" name="username" placeholder="username" autocomplete="off" required><br>
        <input type="email" name="email" placeholder="Email" autocomplete="off" required><br>
        <input type="password" name="password" placeholder="Password" autocomplete="off" required><br><br>
        <input type="password" name="cpassword" placeholder="Confirm Password" autocomplete="off" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LcmRHQpAAAAAKox1CmxwgV0Cbh03cU1MTc4si2g"></div>
        <button type="submit">Sign Up</button>
    </form>
    <br>
    <!-- Sign-up Google Auth -->
    <a href="/auth/google">Sign In with Google</a>

    <p>Already have an account? <a href="/user/signin">Sign in</a></p>
    <!-- Link to sign-in page -->

</section>

