
<section>
    Go Back to <a href="/user/homepage">Home</a>

    <h2>Change Password</h2>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/user/change-password" method="post">
        <input type="password" name="oldPassword" placeholder="Old Password" required><br>
        <input type="password" name="newPassword" placeholder="New Password" required><br><br>
        <div class="g-recaptcha" data-sitekey="6LcmRHQpAAAAAKox1CmxwgV0Cbh03cU1MTc4si2g"></div>
        <button type="submit">Change Password</button>
        <button onclick="signOut()">Log Out</button>
    </form>
   
    <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
    <p>Already have an account? <a href="/user/signin">Sign in</a></p>

</section>


<script>
    // Function to handle sign-out
    function signOut() {
        // Perform sign-out logic (e.g., redirect to sign-out route)
        window.location.href = "/user/signout";
    }

</script>
