
<section>
    <h2>Forget Password</h2>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/user/forgot-password" method="post">
        <input type="email" name="email" placeholder="Email" required><br>
        <div class="g-recaptcha" data-sitekey="6LcmRHQpAAAAAKox1CmxwgV0Cbh03cU1MTc4si2g"></div>
        <button type="submit">Forget Password</button>
    </form>
   
    <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
    <p>Already have an account? <a href="/user/signin">Sign in</a></p>

</section>

